html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 2em;
}

a {
  color: inherit;
  text-decoration: none;
}
.container {
  margin: 0 auto;
  max-width: 800px;
}

.nav

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

main {
  padding: 20px 0;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
}

.nav-link {
  font-size: 0.85em;
  text-transform: uppercase;
  color: var(--bs-secondary);
  border-radius: 10px;
  margin-right: 20px;
}

.nav-link.active {
  color: var(--bs-light);
  position: relative;
}

.nav-link.active span:before {
  content : "";
  position: absolute;
  left    : 35%;
  bottom  : 0;
  height  : 1px;
  width   : 30%;  /* or 100px */
  border-bottom: 1px solid white;
}

.nav-link:hover {
  border-radius: 10px;
  background-color: var(--bs-secondary);
  color: var(--bs-light);
}
a {
  color: var(--bs-secondary);
}
a:hover {
  color: var(--bs-light);
}

.content a {
  color: var(--bs-gray);
  transition: all 0.5s ease;
}

.content a:hover {
  color: var(--bs-teal);
}
.link-unstyled {
  color: white !important;
}

.ccard {
  cursor: pointer;
  margin: 2rem 0;
  padding: 2rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border-radius: 10px;
  transition: all 0.5s ease;
}

.ccard:hover,
.ccard:focus,
.ccard:active {
  background-color: #ffffff33;
}

.ccard h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.ccard p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}
.font-weight-light {
  font-weight: 200;
}